<center><div class="container">
  <center><u><h1 class="register-login-header">Login Here:</h1></u></center>
  <% if @errors %>
  <% @errors.each do |error| %>
  
    <strong><p><i class="fa fa-exclamation-triangle"></i><%= error %></p></strong>
    <% end %>
  <% end %>

  <center><form class="edit-forms" action="/sessions/login" method="post">
    <table class="edit-forms">
      <tr>
        <td><label for="email">Email:</label></td>
        <td><input name="email" type="email"></td>
      </tr>
      <tr>
        <td><label for="password">Password:</label></td>
        <td><input name="password" type="password"></td>
      </tr>
    </table>
      <input class="button" type="submit" value="Login Now">
  </form></center>
       <center><a class="button" href="/users/new">Register</a></footer></center>
</div></center>
